@model ExcursionsDomain.Model.Excursion

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap_vapor.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

@{
    ViewData["Title"] = "Створення";
    var categories = ViewBag.Categories ;
    var today = DateTime.Now;
    var minDateTime = today.AddMinutes(1);
}


<h1>Створення екскурсії</h1>

<hr />
<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input min="@minDateTime.ToString("yyyy-MM-ddTHH:mm")" asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPeopleAmount" class="control-label"></label>
                <input asp-for="MaxPeopleAmount" class="form-control" />
                <span asp-validation-for="MaxPeopleAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categories" class="control-label"></label>
                <select 
                    asp-for="Categories" 
                    class="selectpicker form-control" 
                    multiple
                    data-style="btn-dark"
                    data-size="5"
                    data-live-search="true"
                    asp-items="ViewBag.Categories"
                    title="Оберіть категорії..."></select>
                <span asp-validation-for="Categories" class="text-danger"></span>
                <div>
                    @Html.ActionLink("Додати категорію", "Create", "Categories")
                </div>
                
            </div>
            <div class="form-group">
                <label asp-for="Places" class="control-label"></label>
                <select asp-for="Places"
                        class="selectpicker form-control"
                        multiple
                        data-style="btn-dark"
                        data-size="5"
                        data-live-search="true"
                        asp-items="ViewBag.Places"
                        title="Оберіть місця проведення..."></select>
                <span asp-validation-for="Places" class="text-danger"></span>
                <div>
                    @Html.ActionLink("Додати місце проведення", "Create", "Places")
                </div>
            </div>
            <div class="form-group cat-details-btns filter-btn-box">
                <input class="btn btn-outline-success" type="submit" value="Створити" />
                <a class="btn btn-outline-info" asp-action="Index">До всіх екскурсій</a>
            </div>

        </form>
    </div>
</div>

<script>
    $('select').selectpicker();
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
