@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 style="margin-bottom:50px;" class="text-danger">@ViewData["Header"]</h1>

@if (ViewBag.ErrorMessage.Length>0)
{
    <h5 style ="margin-bottom:20px;">Деталі помилки:</h5>
    @foreach(var e in ViewBag.ErrorMessage)
    {
        <p>@e</p>
    }
    <div class="form-group cat-details-btns filter-btn-box">
        <a href="@Url.Action("Import", "Excursions")" class="btn btn-outline-info">До імпорту даних</a>
        <a href="@Url.Action("Index", "Excursions")" class="btn btn-outline-info">До всіх екскурсій</a>
    </div>
}
