@model ExcursionsInfrastructure.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Зміна паролю";
}

<h1>Зміна паролю</h1>

<hr />
<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <form method="post" asp-controller="Account" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-bottom:16px;">
                <label asp-for="OldPassword" class="control-label" style="margin-bottom:8px;"></label><br />
                <input type="password" asp-for="OldPassword" class="form-control" id="oldPassword" />
                <button class="show-hide-button" type="button" onclick="togglePasswordVisibility('oldPassword')">Показати/Сховати</button>
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label" style="margin-bottom:8px;"></label><br />
                <input type="password" asp-for="NewPassword" class="form-control" id="newPassword" />
                <button class="show-hide-button" type="button" onclick="togglePasswordVisibility('newPassword')">Показати/Сховати</button>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="cat-details-btns">
                <input class="btn btn-outline-success" type="submit" value="Змінити" />
                <a class="btn btn-outline-info" asp-action="Details">До особистого кабінету</a>
            </div>
        </form>
    </div>
</div>

<script>
    function togglePasswordVisibility(inputId) {
        var input = document.getElementById(inputId);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>