@model ExcursionsDomain.Model.Category

@{
    ViewData["Title"] = "Видалення";
}

<h3>Чи впевнені ви, що хочете видалити категорію: @Html.DisplayFor(model => model.Name)</h3>
<hr />
<div>
    <form asp-action="Delete" class="form-group cat-details-btns filter-btn-box">
        <input type="hidden" asp-for="Id" />
        <input class="btn btn-outline-danger" type="submit" value="Видалити" />
        <a class="btn btn-outline-info" asp-action="Index">До всіх категорій</a>

    </form>
</div>
