@model ExcursionsDomain.Model.Category

@{
    ViewData["Title"] = "Видалення";
}

<h3>Чи впевнені ви, що хочете видалити категорію: @Html.DisplayFor(model => model.Name)</h3>
<hr />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">До всіх категорій</a>
    </form>
</div>
