@model IEnumerable<ExcursionsDomain.Model.Category>

@{
    ViewData["Title"] = "Категорії";
}

<h1>Категорії</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create">Додати категорію</a>
    </p>
}

@if (Model.Any())
{
    <div class="cat-container">
        @foreach (var item in Model)
        {
            <div class="card border-dark" style="width:100%">
                <div class="card-body card-cat-inner">

                    <h4 class="card-title">@item.Name</h4>

                    <div class="card-cat-btns">
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Докладніше</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                        {
                            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}

@if (!Model.Any())
{
    <h5>Категорій немає.</h5>
}